// First include Bootstrap
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Overlock:400,700,900,700italic,400italic,900italic);
// Below import your components' scss files
// @import "components/base";
// @import "components/todo-item";

body{
  background-color: #BCF1ED;
  font-family: 'Overlock', cursive;
  font-size: 250%;}
#root{
  @extend .container;
  .channel{
    @extend .row;
    .column{
      @extend .col-xs-6, .col-xs-offset-3;
      .list{
        ul{
          @extend .list-group;
          li{
            @extend .list-group-item;
            background-color: #A1D6D2;
            border: none;
            margin-top:4px;}
        }
      }
      .todo{
        form{
          @extend .form-inline, .well;
          background-color: #FDEDD0;
          width: 100%;
          .form-group{
            width: inherit;
            label{
              @extend .sr-only;}
            input{
              width: 80%;
              @extend .form-control;}
            button{
              @extend .btn, .btn-default;}
          }
        }
      }
    }
  }
}
